<adminlte-header></adminlte-header>
<adminlte-sidebar-left section="'lknggen'"></adminlte-sidebar-left>
<adminlte-content-wrapper breadcrumbs="$ctrl.breadcrumbs">
    {{$ctrl.config}}
    <div class="box box-solid box-info" ng-repeat="column in $ctrl.tables[$ctrl.table]">
        <div class="box-header with-border">
            <h3 class="box-title">{{column}}</h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                <label class="col-sm-2 control-label">Метка</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="$ctrl.config.labels[column]" ng-change="$ctrl.save()">
                </div>
            </div>
        </div>
    </div>
</adminlte-content-wrapper>
<adminlte-footer></adminlte-footer>
<adminlte-sidebar-right>
    <adminlte-helpbox>
        123
    </adminlte-helpbox>
    <div class="box box-solid box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Выберите таблицу БД</h3>
        </div>
        <div class="box-body">
            <ul class="products-list product-list-in-box">
                <li class="item pointer" ng-repeat="(table, columns) in $ctrl.tables" ng-click="$ctrl.setTable(table)" ng-class="{
                        'text-success':$ctrl.table==table,
                    }">
                    <div class="product-img">
                        <i class="icon fa fa-2x" ng-class="{
                        'fa-table':$ctrl.table!=table,
                        'fa-check-square':$ctrl.table==table,
                    }"></i>
                    </div>
                    <div class="product-info ">
                        <span class="product-title pointer">{{table}}</span>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</adminlte-sidebar-right>