.control-sidebar-bg, .control-sidebar{
    right: -325px;
    width: 325px;
}
@media (min-width : 768px) {
    .control-sidebar-open .content-wrapper, .control-sidebar-open .right-side, .control-sidebar-open .main-footer {
        margin-right : 325px
    }
}