<div class="box box-success box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Выделяем нужный фрагмент</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-sm-12 js-kit" data-vendor="pushka-core" data-url-size="http://pushka.club/!/thumb/pushka-core/slider/4/item/mobile"
                 data-url-name="http://pushka.club/!/thumb/pushka-core/slider/4/item?thumb=slider">
                <img class="img-rounded pointer img-responsive cropper-hidden" src="/!/thumbs/slider/4/4/4/VBOa6dL6vW5Z.jpg?1497505460.0481" data-ratio="4">
                <div class="cropper-container cropper-bg" style="width: 678px; height: 106px;">
                    <div class="cropper-canvas" style="width: 678px; height: 105.938px; left: 0px; top: 0.03125px;"><img
                            src="http://pushka.club/!/thumbs/slider/4/4/4/VBOa6dL6vW5Z.jpg?1497505460.0481"
                            style="width: 678px; height: 105.938px; margin-left: 0px; margin-top: 0px; transform: none;"></div>
                    <div class="cropper-drag-box cropper-modal cropper-crop"></div>
                    <div class="cropper-crop-box" style="width: 339px; height: 84.75px; left: 169.5px; top: 10.625px;"><span class="cropper-view-box"><img
                            src="http://pushka.club/!/thumbs/slider/4/4/4/VBOa6dL6vW5Z.jpg?1497505460.0481"
                            style="width: 678px; height: 105.938px; margin-left: -169.5px; margin-top: -10.5938px; transform: none;"></span><span
                            class="cropper-dashed dashed-h"></span><span class="cropper-dashed dashed-v"></span><span class="cropper-center"></span><span
                            class="cropper-face cropper-move"></span><span class="cropper-line line-e" data-action="e"></span><span class="cropper-line line-n"
                                                                                                                                    data-action="n"></span><span
                            class="cropper-line line-w" data-action="w"></span><span class="cropper-line line-s" data-action="s"></span><span
                            class="cropper-point point-e" data-action="e"></span><span class="cropper-point point-n" data-action="n"></span><span
                            class="cropper-point point-w" data-action="w"></span><span class="cropper-point point-s" data-action="s"></span><span
                            class="cropper-point point-ne" data-action="ne"></span><span class="cropper-point point-nw" data-action="nw"></span><span
                            class="cropper-point point-sw" data-action="sw"></span><span class="cropper-point point-se" data-action="se"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box box-success box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Смотрим результат</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="js-curtain-thumb-preview curtain-thumb-preview" data-width="400" data-ratio="4" style="height: 100px; width: 400px;"><img
                        src="http://pushka.club/!/thumbs/slider/4/4/4/VBOa6dL6vW5Z.jpg?1497505460.0481"
                        style="display: block; width: 800px; min-width: 0px !important; min-height: 0px !important; max-width: none !important; max-height: none !important; height: 125px; margin-left: -200px; margin-top: -12.5px; transform: none;">
                </div>
            </div>
        </div>
    </div>
</div>