<!--<pre>-->
<!--{{$ctrl.model| json}}-->
<!--</pre>-->
<div class="modal-header">
    <h3 class="modal-title">{{$ctrl.thumber.name}} / {{$ctrl.thumber.sizes[$ctrl.size].name}}
        <small>(подрезка миниатюры)</small>
    </h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="box box-solid box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Подготовленные миниатюры</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Управление</h3>
                        </div>
                        <div class="box-body">
                            <div class="btn-group">
                                <a class="btn btn-default" ng-click="$ctrl.buttonZoomOut()">
                                    <i class="fa fa-minus"></i> уменьшить
                                </a>
                                <a class="btn btn-default" ng-click="$ctrl.buttonZoomIn()">
                                    <i class="fa fa-plus"></i> увеличить
                                </a>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-default" ng-click="$ctrl.buttonRotateLeft()">
                                    <i class="fa fa-rotate-left"></i> против часовой
                                </a>
                                <a class="btn btn-default" ng-click="$ctrl.buttonRotateRight()">
                                    <i class="fa fa-rotate-right"></i> по часовой
                                </a>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-default" ng-click="$ctrl.buttonFit()">
                                    <i class="fa fa-arrows-alt"></i> в полный размер
                                </a>
                                <a class="btn btn-default" ng-click="$ctrl.buttonCrop()">
                                    <i class="fa fa-crop"></i> подрезать
                                </a>
                            </div>
                            <hr>
                            <image-cropper
                                    image-url="{{$ctrl.thumber.original}}"
                                    width="{{$ctrl.w}}"
                                    height="{{$ctrl.h}}"
                                    show-controls="false"
                                    fit-on-init="true"
                                    center-on-init="true"
                                    api="$ctrl.api"
                                    crop-callback="$ctrl.myCallbackFunction"
                                    check-cross-origin="false"
                                    zoom-step="0.1"
                                    action-labels="$ctrl.myButtonLabelsObject"
                            ></image-cropper>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Предварительный просмотр результата</h3>
                        </div>
                        <div class="box-body">
                            <img
                                    width="{{$ctrl.thumber.sizes[$ctrl.size].w}}"
                                    height="{{$ctrl.thumber.sizes[$ctrl.size].h}}"
                                    ng-src="{{preview}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$ctrl.ok()">Сохранить</button>
    <button type="button" class="btn btn-danger" ng-click="$ctrl.cancel()">Отмена</button>
</div>


