<adminlte-list-header data="$ctrl.data"
                      config="$ctrl.config"
                      load="$ctrl.load"
                      params="$ctrl.params"
                      list-checked="$ctrl.listChecked"
                      list-opened="$ctrl.listOpened">
    <list-buttons ng-transclude="buttons"></list-buttons>
    <list-add ng-transclude="add"></list-add>
</adminlte-list-header>

<adminlte-list-pagination data="$ctrl.data" params="$ctrl.params" load="$ctrl.load"></adminlte-list-pagination>
<div class="row">
    <div class="col-lg-12" ng-transclude="body"></div>
</div>

<adminlte-list-pagination data="$ctrl.data" params="$ctrl.params" load="$ctrl.load"></adminlte-list-pagination>