<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <img src="/packages/larakit/ng-adminlte/laravel.ico" width="24" title="PHP-framework">
        <img src="/packages/larakit/ng-adminlte/angular.ico" width="24" title="JS-framework">
        <img src="/packages/larakit/ng-adminlte/adminlte.ico" width="24" title="Admin template">
        <img src="/packages/larakit/ng-adminlte/fontawesome.ico" width="24" title="Icon set">
    </div>
    <strong>© {{$ctrl.data.years}} <a href="{{$ctrl.data.url}}">{{$ctrl.data.name}}</a>.</strong> {{$ctrl.data.copyright}}
</footer>