<header class="main-header">
    <!-- Logo -->
    <a href="/admin" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>L</b>K</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Lara</b>kit</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a title="Ctrl + left" class="toggle pointer sidebar-toggle" ng-click="$ctrl.leftToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">

            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <!-- Notifications: style can be found in dropdown.less -->
                <!-- Tasks: style can be found in dropdown.less -->
                <li ng-repeat="(k,menu_item) in $ctrl.menu_items"  class="dropdown tasks-menu" ng-class="{'open':($ctrl.menu_items_opened == k)}">
                    <a href="#" class="dropdown-toggle" ng-click="$ctrl.toggleOpened(k)">
                        <i class="{{menu_item.icon}}"></i>
                        <span ng-if="menu_item.label_cnt" class="label label-{{menu_item.label_class}}">{{menu_item.label_cnt}}</span>
                    </a>
                    <div class="dropdown-menu" ng-bind-html="menu_item.content"></div>
                </li>

                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu" ng-class="{'user-menu':user_menu_open}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-click="user_menu_open=!user_menu_open">
                        <span class="hidden-xs">{{$ctrl.me.name}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="http://placehold.it/160x160" class="img-circle" alt="User Image">
                            <p>
                                {{$ctrl.me.name}}
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="/account" class="btn btn-default btn-flat">Профиль</a>
                            </div>
                            <div class="pull-right">
                                <a target="_self" href="/logout" class="btn btn-default btn-flat">Выход</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a class="pointer" title="Ctrl + right" ng-click="$ctrl.rightToggle();"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>