<header class="main-header">
    <!-- Logo -->
    <a href="{{$ctrl.home}}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini" ng-bind-html="$ctrl.logo_mini"></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg" ng-bind-html="$ctrl.logo_lg"></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a title="Ctrl + left" class="toggle pointer sidebar-toggle" ng-click="$ctrl.leftToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">

            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <!-- Notifications: style can be found in dropdown.less -->
                <!-- Tasks: style can be found in dropdown.less -->
                <li ng-repeat="(k,menu_item) in $ctrl.menu_items" class="dropdown tasks-menu" ng-class="{'open':($ctrl.menu_items_opened == k)}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                        <i class="{{menu_item.icon}}"></i>
                        <span ng-if="menu_item.label_cnt" class="label label-{{menu_item.label_class}}">{{menu_item.label_cnt}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header" ng-if="menu_item.header" ng-bind="menu_item.header"></li>
                        <li ng-if="menu_item.items.length==0" ng-bind-html="menu_item.content"></li>
                        <li ng-if="menu_item.items.length>0">
                            <ul class="menu">
                                <li ng-repeat="subitem in menu_item.items">
                                    <a href="{{subitem.url}}">
                                        <i ng-if="subitem.icon" class="{{subitem.icon}}"></i>
                                        {{subitem.text}}
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer" ng-if="menu_item.footer_url"><a href="{{menu_item.footer_url}}">{{menu_item.footer_text?menu_item.footer_text:menu_item.footer_url}}</a>
                        </li>
                    </ul>
                </li>

                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="hidden-xs">{{$ctrl.me.name}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="http://placehold.it/160x160" class="img-circle" alt="User Image">
                            <p>
                                {{$ctrl.me.name}}
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="/account" class="btn btn-default btn-flat">Профиль</a>
                            </div>
                            <div class="pull-right">
                                <span ng-click="$ctrl.logout()" class="btn btn-default btn-flat">Выход</span>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a class="pointer" title="Ctrl + right" ng-click="$ctrl.rightToggle();"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>