<div class="box {{$ctrl.color}} box-solid" ng-class="{'collapsed-box':(true!=$ctrl.listOpened[$ctrl.model.id])}">
    <div class="box-header with-border">
        <div class="adminlte-list-item">
            <div style="width: {{$ctrl.wLeft}};">
                <label>
                    <input type="checkbox" ng-model="$ctrl.listChecked[$ctrl.model.id]">
                    <span ng-if="!$ctrl.isHideId">#{{$ctrl.model.id}}</span>
                </label>
                <br>
                <button ng-if="!$ctrl.isHideToggle" ng-click="$ctrl.listOpened[$ctrl.model.id]=!$ctrl.listOpened[$ctrl.model.id]" class="btn btn-primary"
                        type="button"><i class="fa "
                                         ng-class="{
            'fa-chevron-right':!$ctrl.listOpened[$ctrl.model.id],
            'fa-chevron-down':$ctrl.listOpened[$ctrl.model.id]
            }"></i></button>
            </div>
            <div class="adminlte-list-item--header" ng-transclude="header"></div>
            <div style="width: {{$ctrl.wRight}};">
                <div class="btn-group pull-right" ng-transclude="buttons"></div>
            </div>
        </div>
    </div>
    <div class="box-body" ng-transclude="body"></div>
    <div class="box-footer" ng-if="!$ctrl.isHideFooter">
        <div class="row text-sm">
            <div class="col-lg-4" ng-if="$ctrl.model.created_at">
                <strong>Создано:</strong> {{$ctrl.model.created_at}}
            </div>
            <div class="col-lg-4" ng-if="$ctrl.model.updated_at">
                <strong>Обновлено:</strong> {{$ctrl.model.updated_at}}
            </div>
            <div class="col-lg-4" ng-if="$ctrl.model.deleted_at">
                <strong>Удалено:</strong> {{$ctrl.model.deleted_at}}
            </div>
        </div>
    </div>
</div>