<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Подготовленные миниатюры</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="panel box box-primary" ng-repeat="(size, thumb) in $ctrl.thumbs()">
            <div class="box-header with-border">
                <div class="pull-right">
                        <span class="label  label-default">
                            {{thumb.w}}x{{thumb.h}}
                        </span>
                </div>
                <h4 class="box-title">
                    {{thumb.name}}
                </h4>
            </div>
            <div class="box-body">
                <div class="crop-box-container
                        box-overlay__wrap box-overlay__wrap--fade
                        box-overlay__wrap--blue
                        box-overlay__wrap--inline">
                    <div class="thumb-cropper">
                        <div class="box-overlay">
                            <div class="box-overlay__label">
                                <i class="box-overlay__label-icon fa fa-crop"></i> <span class="box-overlay__label-text">Обрезать миниатюру</span>
                            </div>
                        </div>
                        <img class="img-rounded pointer img-responsive" src="{{$ctrl.getUrl(thumb)}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
</div>