<div class="box box-primary box-solid">
    <div class="box-header with-border">
        <i class="fa fa-map-marker"></i>
        <h3 class="box-title" ng-transclude></h3>
    </div>
    <div class="box-body">
        <div class="form-group" ng-class="{'has-error': $ctrl.error}">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-4">
                            <dl class="dl pointer" title="Поставить точку в центр карты" ng-click="$ctrl.center()">
                                <dt>Долгота</dt>
                                <dd>{{$ctrl.coords[0]}}</dd>
                                <dt>Широта</dt>
                                <dd>{{$ctrl.coords[1]}}</dd>
                            </dl>
                        </div>
                        <div class="col-lg-8">
                            <dl class="dl pointer" title="Поставить точку в центр карты" ng-click="$ctrl.center()">
                                <dt>Масштаб</dt>
                                <dd>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" ng-click="$ctrl.scale(3)">страна</button>
                                        <button type="button" class="btn btn-default" ng-click="$ctrl.scale(10)">город</button>
                                        <button type="button" class="btn btn-default" ng-click="$ctrl.scale(14)">улица</button>
                                        <button type="button" class="btn btn-default" ng-click="$ctrl.scale(17)">дом</button>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="$ctrl.search" ng-keyup="$ctrl.findByKey($event)">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-info btn-flat" ng-click="$ctrl.find()">
                                <span ng-if="!$ctrl.find_process">Искать</span>
                                <i ng-if="$ctrl.find_process" class="fa fa-spinner fa-spin"></i>
                            </button>
                        </span>
                    </div>
                    <br>

                    <div class="callout callout-info" ng-if="$ctrl.find_process">
                        <h4>Идет поиск</h4>
                        <div class="text-center"></div>
                    </div>
                    <div class="callout callout-warning" ng-if="!$ctrl.find_process && $ctrl.cnt_find && !$ctrl.results.length">
                        <h4>Ничего не найдено!</h4>

                        <p>Измените условия поиска или укажите точку кликом на карте</p>
                    </div>
                    <table class="table table-bordered" ng-if="$ctrl.results.length">
                        <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Результаты поиска</th>
                            <th style="width: 40px">&nbsp;</th>
                        </tr>
                        <tr ng-repeat="result in $ctrl.results">
                            <td>{{$index+1}}</td>
                            <td>{{result.GeoObject.metaDataProperty.GeocoderMetaData.text}}</td>
                            <td><span class="badge bg-red pointer" ng-click="$ctrl.apply(result)">применить</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <ya-map ya-zoom="5" ya-behaviors="default" ya-controls="" ya-event-click="$ctrl.click($event)" ya-after-init="$ctrl.afterMapInit($target)">
                <ya-geo-object
                        ya-source="$ctrl.geoObject"></ya-geo-object>
            </ya-map>
            <span class="help-block" ng-bind="$ctrl.example" ng-click="$ctrl.applyExample()" ng-if="$ctrl.example"></span>
            <span class="help-block" ng-bind-html="$ctrl.error" ng-show="$ctrl.error"></span>
            <span class="help-block" ng-bind-html="$ctrl.desc" ng-show="$ctrl.desc"></span>
            <form-examples model="$ctrl.model" examples="$ctrl.examples" is-example-append="$ctrl.isExampleAppend"></form-examples>
        </div>
    </div>
    <div class="box-footer text-sm text-muted">
        Крутите колесиком мышки для изменения масштаба, кликайте на карте для установки точки вручную, используйте поиск для нахождения координат
    </div>
</div>
