<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Фильтр списка</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div ng-repeat="filter in $ctrl.filters">
            <!-- SLIDER start -->
            <div class="form-group" ng-if="$ctrl.isShowSlider(filter)"
                 ng-init="$ctrl.params.filters[filter.name].from=filter.options.floor;$ctrl.params.filters[filter.name].to=filter.options.ceil;"
            >
                <label class="control-label">{{filter.label}}</label>
                    <rzslider rz-slider-model="$ctrl.params.filters[filter.name].from"
                              rz-slider-options="$ctrl.sliderOptions(filter.options)"
                              rz-slider-high="$ctrl.params.filters[filter.name].to"></rzslider>
            </div>
            <!-- BOOLEAN end -->

            <!-- BOOLEAN start -->
            <div class="form-group" ng-if="$ctrl.isShowBoolean(filter)">
                <label class="control-label">{{filter.label}}</label>
                <div class="input-group">
                    <div class="btn-group" ng-class="{'btn-group-vertical':true==filter.is_vertical, 'btn-group-justified':true!=filter.is_vertical}">
                        <label class="btn btn-default" ng-model="$ctrl.params.filters[filter.name]" ng-click="$ctrl.load()(false, 1)"
                               uib-btn-radio="undefined" ng-bind-html="filter.all"></label>
                        <label class="btn btn-default" ng-model="$ctrl.params.filters[filter.name]" ng-click="$ctrl.load()(false, 1)" uib-btn-radio="'1'" ng-bind-html="filter.on"></label>
                        <label class="btn btn-default" ng-model="$ctrl.params.filters[filter.name]" ng-click="$ctrl.load()(false, 1)" uib-btn-radio="'-1'" ng-bind-html="filter.off"></label>
                    </div>
                </div>
            </div>
            <!-- BOOLEAN end -->

            <!-- BUTTONS start -->
            <div class="form-group" ng-if="$ctrl.isShowButton(filter)">
                <label class="control-label">{{filter.label}}</label>
                <div class="input-group">
                    <div class="btn-group" ng-class="{'btn-group-vertical':true==filter.is_vertical, 'btn-group-justified':true!=filter.is_vertical}">
                        <label class="btn btn-default"
                               ng-model="$ctrl.params.filters[filter.name][group.id]"
                               ng-click="$ctrl.load()(false, 1)"
                               uib-btn-checkbox
                               ng-repeat="group in filter.options"
                        >{{group.toString}}</label>
                    </div>
                </div>
            </div>
            <!-- BUTTONS end -->

            <!-- CHECKBOX start -->
            <div class="form-group" ng-if="$ctrl.isShowCheckbox(filter)">
                <label class="control-label">{{filter.label}}</label>
                <div class="input-group">
                    <div ng-if="true==filter.is_vertical" class="checkbox" ng-repeat="group in filter.options">
                        <label ng-click="$ctrl.load()(false, 1)">
                            <input type="checkbox" ng-model="$ctrl.params.filters[filter.name][group.id]">
                            <span ng-bind-html="group.toString"></span>
                        </label>
                    </div>
                    <label ng-if="true!=filter.is_vertical"
                           ng-click="$ctrl.load()(false, 1)"
                           class="checkbox-inline"
                           ng-repeat="group in filter.options">
                        <input type="checkbox" ng-model="$ctrl.params.filters[filter.name][group.id]">
                        <span ng-bind-html="group.toString"></span>
                    </label>
                </div>
            </div>
            <!-- CHECKBOX end -->

            <!-- LIKE start -->
            <div class="form-group" ng-if="$ctrl.isShowLike(filter)">
                <label class="control-label">{{filter.label}}</label>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="$ctrl.params.filters[filter.name]" ng-change="$ctrl.load()(false, 1)">
                    <span class="input-group-addon pointer" title="Очистить поле"
                          ng-click="$ctrl.params.filters[filter.name] = undefined;$ctrl.load()(false, 1)">&times;</span>
                </div>

            </div>
            <!-- LIKE end -->

            <!-- SELECT2 start -->
            <div class="form-group" ng-if="$ctrl.isShowSelect2(filter)">
                <label class="control-label">{{filter.label}}</label>
                <ui-select on-remove="$ctrl.load()(false, true)" on-select="$ctrl.load()(false, 1)" multiple ng-model="$ctrl.params.filters[filter.name]" close-on-select="false">
                    <ui-select-match>{{$item.toString}}</ui-select-match>
                    <ui-select-choices repeat="option in filter.options| filter:$select.search">
                        {{option.toString}}
                    </ui-select-choices>
                </ui-select>

            </div>
            <!-- SELECT2 end -->

        </div>
    </div>
    <div class="box-footer">
        <button type="button" ng-click="$ctrl.load()(true, true)" class="btn btn-info btn-block">Очистить фильтр</button>
    </div>
    <!-- /.box-body -->
    <div class="overlay" ng-show="$ctrl.isLoading()">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>