<adminlte-header></adminlte-header>
<adminlte-sidebar-left section="'lknggen'">
    <lknggen-tables></lknggen-tables>
</adminlte-sidebar-left>
<adminlte-content-wrapper breadcrumbs="$ctrl.breadcrumbs">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Шаг 1. Введите название таблицы БД</h3>
        </div>
        <div class="box-body">
            <formfield-text
                    examples="[['news'], ['posts'],['comments'], ['articles']]"
                    desc="'Впишите название сущности во множественном числе'"
                    model="table">
            </formfield-text>
        </div>
    </div>
    <div class="box box-primary" ng-if="table">
        <div class="box-header with-border">
            <h3 class="box-title">Шаг 2. Создайте миграцию</h3>
        </div>
        <div class="box-body">
            <div class="form-group form-group-lg">
                <input type="text" class="form-control" readonly ng-value="'php artisan make:migration create_'+table+'_table --create='+table">
            </div>
        </div>
    </div>
    <div class="box box-primary" ng-if="table">
        <div class="box-header with-border">
            <h3 class="box-title">Шаг 3. Наполните миграцию инструкциями</h3>
        </div>
        <div class="box-body">
            Откройте в IDE миграцию "YYYY_MM_DD_create_{{table}}_table", внесите необходимые поля
        </div>
    </div>
    <div class="box box-primary" ng-if="table">
        <div class="box-header with-border">
            <h3 class="box-title">Шаг 4. Запустите миграции</h3>
        </div>
        <div class="box-body">
            <div class="form-group form-group-lg">
                <input type="text" class="form-control" readonly ng-value="'php artisan migrate'">
            </div>
        </div>
    </div>
    <div class="box box-primary" ng-if="table">
        <div class="box-header with-border">
            <h3 class="box-title">Шаг 5. Done</h3>
        </div>
        <div class="box-body">
            Обновите страницу и выберите слева созданную таблицу
        </div>
    </div>
</adminlte-content-wrapper>
<adminlte-footer></adminlte-footer>
<adminlte-sidebar-right>
    <!--<adminlte-helpbox>-->
    <!--123-->
    <!--</adminlte-helpbox>-->
</adminlte-sidebar-right>