.adminlte-uploader--my-drop-zone { border: dotted 3px lightgray; }
.adminlte-uploader--nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.adminlte-uploader--another-file-over-class { border: dotted 3px green; }